.body1{
background-color:rgb(10, 16, 26) ;
display: flex;

}
.searchbar{
background-color: rgb(32, 43, 59);
border-radius: 6px;
width:1010px;
height: 35px;
margin-left: 120px;
margin-top: 0px;
display: flex;
align-items: center;
position: absolute;
color: #ffffff;

}
.sidebar{

background-color: rgb(32, 43, 59);
width: 80px;
height: 850px;
margin-left: 30px;
border-radius: 10px;
margin-top: 0px;

}
.sidebar a:hover {
    color: #f1f1f1;
  }
  .sidebar a {
    padding: 50px 8px 8px 18px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    justify-content: center;
    
  }
  .sidebar i{
    justify-content: center;
  }

  .cities-all{
width: 1000px;
margin-left: 30px;
height: 800px;
margin-top: 50px;

  }
  
 
  .cities-w{
   width: 1000px;
   height: 140px;
   background-color: rgb(32, 43, 59);
   border-radius: 45px;
  margin-top: 35px;
  color: #ffffff;
  display: flex;
  align-items: center;
  
  }
  .cities-w:hover{
    background-color: #8181813b;
    border-style: solid ;
    transition: .3s;
  }
  
  .time{
    color: #818181;
    margin-top: 100px;
    position: absolute;
    margin-left: 180px;




  }
  .city{
    font-size: 50px;
    margin-left: 30px;
   position: relative;
  }
  .cities-w img
  {
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 15px;
  }
  .digree{
    margin-left: 910px;
    font-size: 50px;
    position: absolute;


  }
  .det{
    
    position: absolute;
    margin-left: 1160px;
    margin-top: 40px;
    height: 700px;
    

  }
  .city-d{
    
    color: #ffffff;
  display: flex;
  
  width: 600px;
  margin-left: 52px;
  margin-top: 100px;
  height: 250px;
  }
  .dig{
    margin-top: 100px;
    position: absolute;
    font-size: 66px;
    margin-top: 150px;
  }
  .city-name{
    font-size: 44px;
    margin-top: 20px;
  }
  .city-d img{

    width: 200px;
    align-items: center;
    height: 200px;
    margin-left: 200px;
  }
  .line{
    background-color: #8b8a8a8a;
    position: absolute;
    height: .1px;
    width: 540px;
    margin-top: 250px;
    

  }
 
  .day-d2{
    margin-left: 220px
  }
  .day-d3{
    margin-left: 440px
  }
    
  .time-d{
    color: #818181;
    position: absolute;
    margin-left: 40px;
    margin-top: 38px;
    font-size: 30px;
  }
  .day-d img{
    position: absolute;
    margin-top: 100px;
    margin-left: 40px;
    width: 130px;
  }
  .dig-d{
    position: absolute;
    margin-left: 75px;
    margin-top: 240px;
    color: white;
    font-size: 50px;
  }
  .day-d2 img{
    position: absolute;
    margin-top: 77px;
    margin-left: 26px;
    width: 150px;
  }
  .day-d3 img{
    position: absolute;
    margin-top: 90px;
    margin-left: 40px;
    width: 130px;
  }
  .line-d{
    background-color: #8b8a8a8a;
    position: absolute;
    height:260px;
    width:.1px ;
    margin-top: 40px;
    margin-left: 210px;
  }
  .line-d2{
    background-color: #8b8a8a8a;
    position: absolute;
    height:260px;
    width:.1px ;
    margin-top: 40px;
    margin-left: 440px;
  }
  .all-det{
    display: flex;
    position: absolute;
  }
  .all-det > div:not(:first-child){
    display: none;
  }
  
